{{!

If the user is logged in and they are an admin user, and 'GET /admin' endpoint is called, you will render this view
based on the specs.



}}
<main>
  <div id="adminView" class="adminView">

    <p id="welcome" class="welcome">Welcome
      {{firstName}}
      {{lastName}}, the time is now:
      {{currentTime}}
      and the current date is
      {{currentDate}}
      . You get super secret administrator access since you are an admin.
      Remember, with great power comes great responsibility!!</p>

    <p id="quote" class="quote">Favorite Quote: {{favoriteQuote}}</p>

    <a id="userLink" class="link" href="/user">User Page</a>

    <a id="signoutLink" class="link" href="/signoutuser">Sign out</a>

  </div>
</main>